<form action="/answer" method="get" data-turbo="false" >
  <input type="text" name="question_to_coach">
  <input type="submit" value="Ask!">
</form>

<!-- action = / renvoie bien vers la page où on veut ALLER -->

<!-- methode GET par défaut dans les formulaires donc pas obligé de le mettre, mais pas mal quand même -->

<!-- name = sera le nom de la clé d'une des clés-valeurs dans mon hash params -->
